body {
    background-image: url(twink1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 414px) {
        background-image: url('twink2.jpg');
        background-repeat: no-repeat;
    }
    
}

.par {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-top: 20vh;
    color: black;
}