body {
    background-image: url(https://i.ibb.co/CpPhwPzR/Gemini-Generated-Image-jc94bvjc94bvjc94.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 414px) {
        background-image: url('https://i.ibb.co/spxwbxd9/twink2-1.jpg');
        background-repeat: no-repeat;
    }
    
}

.par {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-top: 20vh;
    color: yellow;
}